@model G4Fit.Models.ViewModels.HomeVM
@using Cocoon.Resources
@{ var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToLowerInvariant();

    var Videos = new List<string>()
{
        "01.mp4",
        "02.mp4",
        "03.mp4",
        "04.mp4",
        "05.mp4",
        "06.mp4",
        "07.mp4",
        "08.mp4",
        "09.mp4",
        "10.mp4",
        "11.mp4",
        "12.mp4"
    };
    Random random = new Random();
    var selectedVideo = Videos.OrderBy(v => random.Next()).First();

}
<style>

    .swiper-slide {
        height: 305px !important;
        width: 215px !important;
    }

    h6 {
        font-size: 15px;
    }

    .swiper-slide img {
        height: 60%;
        object-fit: unset;
    }

    .Tools {
        font-size: initial;
    }

    .Size {
        position: absolute;
        bottom: 10px;
    }

    .Tools .main_info {
        float: unset;
        padding-top: 10px;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 20000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 390px; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .Colors {
        position: absolute;
        bottom: 50px;
        right: 16px;
    }
    /* start setting box */
    .setting-box {
        position: fixed;
        top: 8%;
        left: 0;
        width: 190px;
        background-color: hsl(0deg 0% 0%);
        z-index: 1000;
        color: white;
        height: 35px;
        transition: .3s;
    }

    .close {
        left: -280px;
    }

    .setting-box .fatoggel {
        position: absolute;
        right: -30px;
        background-color: #fff;
        padding: 8px 0;
        color: black;
        width: 30px;
        text-align: center;
        top: 10%;
        cursor: pointer;
    }

    .setting-box .settings-container {
        margin-top: 10px;
    }

    .settings-container h4 {
        color: #fff;
    }

    .Categories .Cat .info {
        background: rgb(0,0,0);
        background: linear-gradient(360deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 100%) !important;
    }

        .Categories .Cat .info h3 {
            position: relative;
            border: none;
            bottom: -55px;
        }

            .Categories .Cat .info h3 a {
                text-decoration: none;
            }
</style>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <img src="~/Content/web/img/58914ebc-50e6-4c36-b0e6-37de51756883.png" style="width: 350px; height: 500px; display: block; margin: auto " />
    </div>

</div>

<!-- Start Carousel Section -->
@if (Model.Sliders != null && Model.Sliders.Count() > 0)
{
    <section class="main_carousel" id="Home">
        <div class="carousel slide text-center" id="main_slider" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var slider in Model.Sliders)
                {
                    <div class="carousel-item"><img class="SliderImage" src="~/Content/Images/Sliders/@slider.ImageUrl" width="100%" height="100%"></div>
                }
            </div><a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#main_slider" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">next</span></a>
        </div>
    </section>
}
<!-- End Carousel Section -->
<!-- Start Categories Section -->
@*@if (Model.Categories != null && Model.Categories.Count() > 0)
    {
        int Skip = 0;
        int CurrentRow = 0;
        var NumberOfCarouselItems = Math.Ceiling((double)(Model.Categories.Count() / 7.00));
        <section class="Categories text-center mt-3" id="Cats">
            <div class="container">
                <div class="Slider d-none d-lg-block wow bounceInLeft" data-wow-duration="1s">
                    <div class="carousel slide text-center" id="cat_slider">
                        <div class="carousel-inner">
                            @for (int i = 0; i < NumberOfCarouselItems; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row">
                                        @foreach (var cat in Model.Categories.Skip(Skip))
                                        {
                                            CurrentRow += 1;
                                            if (CurrentRow % 7 != 0)
                                            {
                                                <div class="col-4" onclick="window.location.href='/SubCategories/View?CatId=@cat.Id'">
                                                    <div class="Cat">
                                                        <img src="@(cat.ImageUrl != null ? "/Content/Images/Categories/" + cat.ImageUrl : "/Content/assets/imgs/doesnotexist.png")">
                                                        <div class="info" style="display:flex">
                                                            <h3 class="h5"><a href="@Url.Action("View", "SubCategories", new { CatId = cat.Id })">@(culture == "ar" ? cat.NameAr : cat.NameEn)</a></h3>
                                                        </div>
                                                    </div>
                                                </div>}
                                            else
                                            {
                                                Skip += 6;
                                                CurrentRow = 0;
                                                break;
                                            }
                                        }
                                    </div>
                                </div>}
                        </div>
                        <a class="carousel-control-prev" href="#cat_slider" role="button" data-slide="prev"><span class="fas fa-chevron-circle-left fa-3x" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#cat_slider" role="button" data-slide="next"><span class="fas fa-chevron-circle-right fa-3x" aria-hidden="true"></span><span class="sr-only">next</span></a>
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < NumberOfCarouselItems; i++)
                            {
                                <li class="@(i == 0 ? "active" : "")" data-target="#cat_slider" data-slide-to="@i"></li>
                            }
                        </ol>
                    </div>
                </div>
                <div class="Grid d-lg-none wow zoomIn" data-wow-duration="1s">
                    <div class="container">
                        <div class="row">
                            @foreach (var cat in Model.Categories)
                            {
                                <div class="col-sm-12 col-md-6 col-lg-3" onclick="window.location.href='/SubCategories/View?CatId=@cat.Id'">
                                    <div class="Cat">
                                        <img src="@(cat.ImageUrl != null ? "/Content/Images/Categories/" + cat.ImageUrl : "/Content/assets/imgs/doesnotexist.png")">
                                        <div class="info" style="display:flex">
                                            <h3 class="h5"><a href="@Url.Action("View", "SubCategories", new { CatId = cat.Id })">@(culture == "ar" ? cat.NameAr : cat.NameEn)</a></h3>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </section>}*@
<!-- End Categories Section-->
<!-- Start New Section -->
<!-- End Most Sell Section -->
<!-- Start Best Offer Section -->
@if (Model.OffersServices != null && Model.OffersServices.Count(s => s.IsDeleted == false) > 0)
{
    <section class="best_offer text-center" id="Offer">
        <div class="container">
            <h2 class="h3 text-right wow fadeInDown"><span>@(culture == "ar" ? "عروضنا الخاصة" : "Special Offers")</span></h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var Service in Model.OffersServices)
                    {
                        string ServiceImage = null;
                        if (Service.Images != null && Service.Images.FirstOrDefault(s => s.IsDeleted == false) != null)
                        {
                            ServiceImage = Service.Images.FirstOrDefault(s => s.IsDeleted == false).ImageUrl;
                        }
                        <div class="swiper-slide hvr-underline-from-center">
                            <a href="@Url.Action("View", "Services", new { Id = Service.Id })"><img src="@(ServiceImage != null ? "/Content/Images/Services/" + ServiceImage : "/Content/assets/imgs/doesnotexist.png")" width="100%" height="400"></a>
                            <div class="Tools">
                                <div class="main_info">
                                    <h6><a class="text-black" href="@Url.Action("View", "Services", new { Id = Service.Id })">@(culture == "ar" ? Service.NameAr : Service.NameEn)</a></h6>
                                    @*<p><a href="@Url.Action("View", "Categories", new { CatId = Service.SubCategoryId })" class="text-black">@(culture == "ar" ? Service.SubCategory.NameAr : Service.SubCategory.NameEn)</a></p>*@
                                </div>
                                <div class="sub_info"><span>@Service.OriginalPrice @Website.SAR</span><span>@Service.OfferPrice.Value @Website.SAR</span>@*<i class="fas fa-cart-plus fa-lg hvr-pulse-grow" onclick="AddToCart(this,'@Service.Id', 1)"></i>*@</div>
                                <div class="clearfix"></div>
                                @*@if (Service.Colors != null && Service.Colors.Count(s => s.IsDeleted == false) > 0)
                                    {
                                        <div class="Colors text-right">
                                            <ul class="list-unstyled">
                                                @foreach (var color in Service.Colors.Where(s => s.IsDeleted == false))
                                                {
                                                    <li style="background-color:@color.Color;cursor:pointer;" class="@(color.Id == Service.Colors.FirstOrDefault(s => s.IsDeleted == false).Id ? "active" : "")" data-color="@color.Id"></li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    @if (Service.Sizes != null && Service.Sizes.Count(s => s.IsDeleted == false) > 0)
                                    {
                                        <div class="Size text-right">
                                            <ul class="list-unstyled">
                                                @foreach (var size in Service.Sizes.Where(s => s.IsDeleted == false))
                                                {
                                                    <li style="cursor:pointer;" class="@(size.Id == Service.Sizes.FirstOrDefault(s => s.IsDeleted == false).Id ? "active" : "")" data-size="@size.Id">@size.Size</li>
                                                }
                                            </ul>
                                        </div>
                                    }*@
                            </div>
                        </div>}
                </div>
            </div>
            <hr>
        </div>
    </section>}
<!-- End Best Offer Section-->
<!-- Start Sports Section-->
@if (Model.Categories != null && Model.Categories.Count() > 0)
{
    foreach (var category in Model.Categories.Where(s => s.IsDeleted == false && s.Services.Count(w => w.IsDeleted == false && w.Inventory > 0 && w.IsHidden == false) > 0))
    {
        List<G4Fit.Models.Domains.Service> Services = new List<G4Fit.Models.Domains.Service>();

        Services.AddRange(category.Services.Where(s => s.IsDeleted == false && (s.Inventory > 0 || s.IsTimeBoundService) && s.IsHidden == false).Take(4));

        if (Services.Any() == true)
        {
            <section class="Sports" id="Sport">
                <div class="container">
                    <h2 class="h3 text-right wow fadeInDown"><span>@(culture == "ar" ? category.NameAr : category.NameEn)</span></h2>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var Service in Services)
                            {
                                string ServiceImage = null;
                                if (Service.Images != null && Service.Images.FirstOrDefault(s => s.IsDeleted == false) != null)
                                {
                                    ServiceImage = Service.Images.FirstOrDefault(s => s.IsDeleted == false).ImageUrl;
                                }
                                <div class="swiper-slide hvr-underline-from-center">
                                    <a href="@Url.Action("View", "Services", new { Id = Service.Id })"><img src="@(ServiceImage != null ? "/Content/Images/Services/" + ServiceImage : "/Content/assets/imgs/doesnotexist.png")" width="100%" height="400"></a>
                                    <div class="Tools">
                                        <div class="main_info">
                                            <h6><a class="text-black" href="@Url.Action("View", "Services", new { Id = Service.Id })">@(culture == "ar" ? Service.NameAr : Service.NameEn)</a></h6>
                                            @*<p><a href="@Url.Action("View", "Categories", new { CatId = Service.SubCategoryId })" class="text-black">@(culture == "ar" ? Service.SubCategory.NameAr : Service.SubCategory.NameEn)</a></p>*@
                                        </div>
                                        <div class="sub_info"><span>@(Service.OfferPrice.HasValue ? Service.OfferPrice.Value : Service.OriginalPrice) @Website.SAR</span>@*<i class="fas fa-cart-plus fa-lg hvr-pulse-grow" onclick="AddToCart(this,'@Service.Id', 1)"></i>*@</div>
                                        <div class="clearfix"></div>
                                        @*@if (Service.Colors != null && Service.Colors.Count(s => s.IsDeleted == false) > 0)
                                            {
                                                <div class="Colors text-right">
                                                    <ul class="list-unstyled">
                                                        @foreach (var color in Service.Colors.Where(s => s.IsDeleted == false))
                                                        {
                                                            <li style="background-color:@color.Color;cursor:pointer;" class="@(color.Id == Service.Colors.FirstOrDefault(s => s.IsDeleted == false).Id ? "active" : "")" data-color="@color.Id"></li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                            @if (Service.Sizes != null && Service.Sizes.Count(s => s.IsDeleted == false) > 0)
                                            {
                                                <div class="Size text-right">
                                                    <ul class="list-unstyled">
                                                        @foreach (var size in Service.Sizes.Where(s => s.IsDeleted == false))
                                                        {
                                                            <li style="cursor:pointer;" class="@(size.Id == Service.Sizes.FirstOrDefault(s => s.IsDeleted == false).Id ? "active" : "")" data-size="@size.Id">@size.Size</li>
                                                        }
                                                    </ul>
                                                </div>
                                            }*@
                                    </div>
                                </div>}
                        </div>
                    </div>
                    <hr>
                </div>
            </section>}
    }
}

<div class="row mb-5" style="margin:0px!important;">
    <div class="col-12 text-center">
        <!-- عنصر الفيديو مع خصائص التحكم -->
        <video id="videoPlayer" style="height:500px;width:75%;padding-top:25px" @*controls*@ autoplay muted>
            <source src="~/Content/web/G4Fit_Data/videos/@selectedVideo" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<script>
    var Videos = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Videos)); // تحويل قائمة الفيديوهات إلى JSON

    document.addEventListener("DOMContentLoaded", function () {
        var videoPlayer = document.getElementById("videoPlayer");
        videoPlayer.play();
        videoPlayer.onended = function () {
            var randomIndex = Math.floor(Math.random() * Videos.length);var newVideo = Videos[randomIndex];
            videoPlayer.src = "@Url.Content("~/Content/web/G4Fit_Data/videos/")" + newVideo;
            videoPlayer.load();videoPlayer.play();
        };
    });
</script>

<script>
    document.querySelector(".setting-box .fatoggel").onclick = function () {
        document.querySelector(".setting-box").classList.toggle("close");
    }
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>
<!-- End Sports Section-->
<!-- Start About Section -->
@*@if (Model.About != null)
    {
        <section class="About" id="About">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 text-right">
                        <h2 class="h1">@(culture == "ar" ? "من نحن ؟" : "Who are we?")</h2>
                        @if (culture == "ar" && Model.About.DescriptionAr != null)
                        {
                            <p class="lead">@Html.Raw(Model.About.DescriptionAr.Replace("\r\n", "<br />"))</p>
                        }
                        @if (culture != "ar" && Model.About.DescriptionEn != null)
                        {
                            <p class="lead">@Html.Raw(Model.About.DescriptionEn.Replace("\r\n", "<br />"))</p>
                        }
                        <div class="row">
                            @if (culture == "ar" && Model.About.VisionAr != null)
                            {
                                <div class="col-sm-12 col-md-6">
                                    <div class="Info">
                                        <div><i class="far fa-eye fa-lg"></i></div>
                                        <article>
                                            <h3 class="h5">@Website.Vision </h3><span>@Html.Raw(Model.About.VisionAr.Replace("\r\n", "<br />"))</span>
                                        </article>
                                    </div>
                                </div>
                            }
                            @if (culture != "ar" && Model.About.VisionEn != null)
                            {
                                <div class="col-sm-12 col-md-6">
                                    <div class="Info">
                                        <div><i class="far fa-eye fa-lg"></i></div>
                                        <article>
                                            <h3 class="h5">@Website.Vision </h3><span>@Html.Raw(Model.About.VisionEn.Replace("\r\n", "<br />"))</span>
                                        </article>
                                    </div>
                                </div>
                            }
                            @if (culture == "ar" && Model.About.MessageAr != null)
                            {
                                <div class="col-sm-12 col-md-6">
                                    <div class="Info">
                                        <div><i class="far fa-envelope fa-lg"></i></div>
                                        <article>
                                            <h3 class="h5">@Website.Message </h3><span>@Html.Raw(Model.About.MessageAr.Replace("\r\n", "<br />"))</span>
                                        </article>
                                    </div>
                                </div>
                            }
                            @if (culture != "ar" && Model.About.MessageAr != null)
                            {
                                <div class="col-sm-12 col-md-6">
                                    <div class="Info">
                                        <div><i class="far fa-envelope fa-lg"></i></div>
                                        <article>
                                            <h3 class="h5">@Website.Message </h3><span>@Html.Raw(Model.About.MessageEn.Replace("\r\n", "<br />"))</span>
                                        </article>
                                    </div>
                                </div>
                            }

                            @if (culture == "ar" && Model.About.ValuesAr != null)
                            {
                                <div class="col-sm-12 col-md-6">
                                    <div class="Info">
                                        <div><i class="far fa-hand-sparkles fa-lg"></i></div>
                                        <article>
                                            <h3 class="h5">@Website.Values </h3><span>@Html.Raw(Model.About.ValuesAr.Replace("\r\n", "<br />"))</span>
                                        </article>
                                    </div>
                                </div>
                            }
                            @if (culture != "ar" && Model.About.ValuesEn != null)
                            {
                                <div class="col-sm-12 col-md-6">
                                    <div class="Info">
                                        <div><i class="far fa-hand-sparkles fa-lg"></i></div>
                                        <article>
                                            <h3 class="h5">@Website.Values </h3><span>@Html.Raw(Model.About.ValuesEn.Replace("\r\n", "<br />"))</span>
                                        </article>
                                    </div>
                                </div>
                            }

                            @if (culture == "ar" && Model.About.OtherNotesAr != null)
                            {
                                <div class="col-sm-12 col-md-6">
                                    <div class="Info">
                                        <div><i class="far fa-info-circle fa-lg"></i></div>
                                        <article>
                                            <h3 class="h5">@Website.Note </h3><span>@Html.Raw(Model.About.OtherNotesAr.Replace("\r\n", "<br />"))</span>
                                        </article>
                                    </div>
                                </div>
                            }
                            @if (culture != "ar" && Model.About.OtherNotesEn != null)
                            {
                                <div class="col-sm-12 col-md-6">
                                    <div class="Info">
                                        <div><i class="far fa-info-circle fa-lg"></i></div>
                                        <article>
                                            <h3 class="h5">@Website.Note </h3><span>@Html.Raw(Model.About.OtherNotesEn.Replace("\r\n", "<br />"))</span>
                                        </article>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @if (Model.About != null && Model.About.VideoUrl != null)
                    {
                    <div class="col-sm-12 col-md-6">
                        @{
                            var uri = new Uri(Model.About.VideoUrl);
                            var query = HttpUtility.ParseQueryString(uri.Query);
                            var videoId = query["v"];
                        }
                        <iframe style="height:90%;width:70%;padding-top:35px" src="https://www.youtube.com/embed/@videoId?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    }
                </div>
            </div>
        </section>
    }*@
<!-- End About Section  -->