@model G4Fit.Models.Domains.Order
@using G4Fit.Models.Enums
@using Cocoon.Resources
@{
    var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToLowerInvariant();
    var DeliveryFees = ViewBag.DeliveryFees;
    //var Address = ViewBag.Address;
    var PhoneNumber = ViewBag.PhoneNumber;
}
<tr>
    <td>@Website.SubTotal</td>
    <td>@Model.SubTotal @Website.SAR</td>
</tr>
@if (Model.PackageId.HasValue == true)
{
    <tr>
        <td>@Website.PackageDiscount</td>
        <td>@Model.PackageDiscount @Website.SAR</td>
    </tr>
}
@if (Model.PromoId.HasValue == true)
{
    <tr>
        <td>@Website.PromoDiscount</td>
        <td>@Model.PromoDiscount @Website.SAR</td>
    </tr>
}
@if (Model.WalletDiscount > 0)
{
    <tr>
        <td>@(culture == "ar" ? "رصيد المحفظه" : "Wallet")</td>
        <td>@Model.WalletDiscount @Website.SAR</td>
    </tr>
}
<tr>
    <td>@Website.PhoneNumber</td>
    <td>@(culture == "ar" ? $" {PhoneNumber}" : $"{PhoneNumber}")</td>
</tr>
@if (ViewBag.Address != null)
{
    <tr>
        <td>@Website.Address</td>
        <td>@(culture == "ar" ? $" {ViewBag.Address}" : $"{ViewBag.Address}")</td>
    </tr>
}
@if (Model.UserType != G4Fit.Models.Enums.OrderUserType.Normal)
{
    <tr>
        <td>@(culture == "ar" ? "الهويه" : "Identity")</td>
        <td>
            @if (Model.UserType == OrderUserType.Army)
            {@(culture == "ar" ? "من حماة الوطن" : "Army")}
            else if (Model.UserType == OrderUserType.Student)
            {@(culture == "ar" ? "طالب" : "Student")}
            else if (Model.UserType == OrderUserType.KingKhaledUniversity)
            {@(culture == "ar" ? "من جامعة الملك خالد" : "King Khaled University")}
            else if (Model.UserType == OrderUserType.Normal)
            {@(culture == "ar" ? "مستخدم " : "User")}
        </td>
    </tr>
}
@if (Model.PurposeOfSubscription != null)
{
    <tr>
        <td>@Website.PurposeOfSubscription</td>
        <td>
            @if (Model.PurposeOfSubscription == PurposeOfSubscription.Muscle_Building)
            {@(culture == "ar" ? $"كتله عضليه" : $"Muscle Building")}
            else if (Model.PurposeOfSubscription == PurposeOfSubscription.Weight_Gain)
            { @(culture == "ar" ? $"زياده وزن" : $"Weight Gain")}
            else if (Model.PurposeOfSubscription == PurposeOfSubscription.General_Health)
            { @(culture == "ar" ? $"صحه عامه" : $"General Health")}
            else if (Model.PurposeOfSubscription == PurposeOfSubscription.Weight_Loss)
            { @(culture == "ar" ? $"خسارة وزن" : $"Weight Loss")}
        </td>
    </tr>
}
<tr>
</tr>

<tr>
    <td>@Website.Total</td>
    <td>@Model.Total @Website.SAR</td>
</tr>
