@model IEnumerable<G4Fit.Models.Domains.Order>
@{
    Layout = "~/Views/Dashboard/Layout.cshtml";
    ViewBag.Title = "طلبات الاعضاء";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-shopping-cart"></i> طلبات الاعضاء</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive text-center">
            <table id="table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center;">#</th>
                        <th style="text-align:center;">العميل</th>
                        <th style="text-align:center;">السعر</th>
                        <th style="text-align:center;">الدفع</th>
                        <th style="text-align:center;">العنوان</th>
                        <th style="text-align:center;">التحكم</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.OrderByDescending(s => s.CreatedOn))
                    {
                        <tr>
                            <td>
                                @order.Code<br />
                                @if (order.OrderStatus == G4Fit.Models.Enums.OrderStatus.Placed)
                                {
                                    <span class="label label-warning">جديد</span>
                                }
                                else if (order.OrderStatus == G4Fit.Models.Enums.OrderStatus.Canceled)
                                {
                                    <span class="label label-danger">تم الالغاء</span>
                                }
                                else
                                {
                                    <span class="label label-success">تم التسليم</span>
                                }
                            </td>
                            <td>
                                الاسم: @order.User.Name<br />
                                رقم الهاتف: <a href="tel:@order.User.PhoneNumber">@order.User.PhoneNumber</a><br />
                                @if (order.CityId.HasValue == true)
                                {
                                    <span>الموقع: @order.City.Country.NameAr - @order.City.NameAr</span>
                                }
                            </td>
                            <td>
                                @order.Total ريال سعودي
                            </td>
                            <td>
                                @if (order.PaymentMethod == G4Fit.Models.Enums.PaymentMethod.Cash)
                                {
                                    <span>الدفع كاش</span><br />
                                }
                                else if (order.PaymentMethod == G4Fit.Models.Enums.PaymentMethod.UrWay)
                                {
                                    <span>الدفع اون لاين - يور واي</span><br />
                                }
                                else if (order.PaymentMethod == G4Fit.Models.Enums.PaymentMethod.Tabby)
                                {
                                    <span>الدفع اون لاين - تابي</span><br />
                                }
                                else if (order.PaymentMethod == G4Fit.Models.Enums.PaymentMethod.Tamara)
                                {
                                    <span>الدفع اون لاين - تمارا</span><br />
                                }
                                @if (order.IsPaid == true)
                                {
                                    <span class="badge bg-green">تم الدفع</span>
                                }
                                else
                                {
                                    <span class="badge bg-red">غير مدفوع</span>
                                }
                            </td>
                            <td>
                                @order.Address
                            </td>
                            @if (order.OrderStatus == G4Fit.Models.Enums.OrderStatus.Canceled)
                            {
                                <td>
                                    <a class="btn btn-warning" style="margin-bottom:10px" href="@Url.Action("ToggleCanceled", new { OrderId = order.Id })">استرجاع</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a class="btn btn-info" style="margin-bottom:10px" href="@Url.Action("Details", new { OrderId = order.Id })">التفاصيل</a> |
                                    <a class="btn btn-primary" style="margin-bottom:10px" href="@Url.Action("ToggleDelivered", new { OrderId = order.Id })">@(order.OrderStatus == G4Fit.Models.Enums.OrderStatus.Placed ? "تعيين تم التسليم" : "تعيين لم يتم التسليم")</a> |
                                    @if (order.PaymentMethod == G4Fit.Models.Enums.PaymentMethod.Cash)
                                    {
                                        <a class="btn btn-@(order.IsPaid == true ? "danger" : "success")" style="margin-bottom:10px" href="@Url.Action("TogglePaid", new { OrderId = order.Id })">@(order.IsPaid == false ? "تعيين تم الدفع" : "تعيين لم يتم الدفع")</a>
                                    }
                                    @if (order.PaymentMethod == G4Fit.Models.Enums.PaymentMethod.UrWay)
                                    {
                                        <a class="btn btn-primary" style="margin-bottom:10px" href="@Url.Action("TransactionHistory", new { OrderId = order.Id })">سجل عمليات الدفع</a>
                                    }
                                    @if (order.PaymentMethod == G4Fit.Models.Enums.PaymentMethod.Tabby)
                                    {
                                        <a class="btn btn-primary" style="margin-bottom:10px" href="@Url.Action("TransactionHistory", new { OrderId = order.Id })">سجل عمليات الدفع</a>
                                    }
                                    @if (order.PaymentMethod == G4Fit.Models.Enums.PaymentMethod.Tamara)
                                    {
                                        <a class="btn btn-primary" style="margin-bottom:10px" href="@Url.Action("TransactionHistory", new { OrderId = order.Id })">سجل عمليات الدفع</a>
                                    }
                                    @if (order.OrderStatus == G4Fit.Models.Enums.OrderStatus.Placed)
                                    {
                                        <a class="btn btn-danger" style="margin-bottom:10px" href="@Url.Action("ToggleCanceled", new { OrderId = order.Id })">تم الالغاء</a>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
