@model G4Fit.Models.Domains.Order
@using G4Fit.Models.Enums
@using Cocoon.Resources
@{
    Layout = "~/Views/Dashboard/Layout.cshtml";
    var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToLowerInvariant();
    ViewBag.Title = "تفاصيل الطلب رقم " + Model.Code;
}


<style>
    .logo-print {
        position: absolute;
        left: 0; /* Align logo to the left */
        top: 0; /* Align logo to the top */
        z-index: 1; /* Behind the text */
        height: 55px; /* Adjust size as needed */
    }

    /*.order-header {
        position: relative;*/ /* Establishes a stacking context */
    /*display: inline-block;
        z-index: 2;*/ /* Above the logo */
    /*margin-left: 20px;*/ /* Adjust to align with logo */
    /*}*/
</style>
<div class="row">
    <!-- Left col -->
    <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-info">
            <div class="box-header with-border no-print">
                <a class="btn btn-default no-print" href="@Url.Action("Dashboard", "Orders")">العودة</a>
                <h3 class="box-title no-print">@ViewBag.Title</h3>
                <div class="box-tools pull-right  no-print">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="text-center" style="margin-bottom: 10px; position: relative; ">
                    <img src="~/Content/web/img/logo/g4fitLogo.jpg" alt="Logo" class="logo-print" />
                    <h4>الطلب رقم @Model.Code</h4>
                    <h4 style="margin:10px">
                        @switch (Model.OrderStatus)
                        {
                            case G4Fit.Models.Enums.OrderStatus.Placed:
                                <span class="label label-warning">جديد</span>
                                break;
                            case G4Fit.Models.Enums.OrderStatus.Delivered:
                                <span class="label label-success">تم التوصيل</span>
                                break;
                            case G4Fit.Models.Enums.OrderStatus.Canceled:
                                <span class="label label-success">تم الالغاء</span>
                                break;
                            default:
                                break;
                        }
                    </h4>
                    <h4 style="margin:10px" class="no-print">
                        <br />
                        <button type="button" onclick="window.print();" class="btn"><i class="fa fa-print"></i> طباعة</button>
                        <button id="copyToExcelBtn" type="button" class="btn btn-secondary"><i class="fa fa-copy"></i> نسخ خدمات الطلب للإكسيل</button>
                    </h4>
                </div>
                <div>
                    <table id="orderItemsTable" class="table text-center table-bordered" dir="rtl">
                        <tbody>
                            <tr>
                                <td>
                                    اسم العميل
                                </td>
                                <td>
                                    @Model.User.Name
                                </td>
                            </tr>
                            @if (Model.UserType != OrderUserType.Normal)
                            {
                                <tr>
                                    <td>
                                        تصنيف الطلب
                                    </td>
                                    <td>
                                        @if (Model.UserType == OrderUserType.Army)
                                        {
                                            <span>حماة وطن</span>
                                        }
                                        else if (Model.UserType == OrderUserType.Student)
                                        {
                                            <span>طالبات</span>
                                        }
                                        else if (Model.UserType == OrderUserType.KingKhaledUniversity)
                                        {
                                            <span>جامعة الملك سلمان</span>
                                        }
                                        @if (Model.UserTypeImageUrl != null)
                                        {
                                            <a target="_blank" href="~/Content/Images/Other/@Model.UserTypeImageUrl"><img width="150" src="~/Content/Images/Other/@Model.UserTypeImageUrl"></a>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    رقم العميل
                                </td>
                                <td>
                                    <a href="tel:@Model.User.PhoneNumber">@Model.User.PhoneNumber</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    عنوان العميل
                                </td>
                                @if (Model.CityId.HasValue)
                                {
                                    <td>
                                        <p>الدولة: @Model.City.Country.NameAr</p>
                                        <p>المدينة: @Model.City.NameAr</p>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        ---
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>هل الاشتراك مجمد؟</td>
                                <td>@(Model.Frezzed ? "نعم" : "لا")</td>
                            </tr>
                            <tr>
                                <td>
                                    عناصر الطلب
                                </td>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    اسم الخدمه
                                                </th>
                                                <th>
                                                    الكمية / الإشتراك
                                                </th>
                                                <th>
                                                    السعر
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Items.Where(d => d.IsDeleted == false))
                                            {
                                                <tr>
                                                    <td id="ServiceName">@item.Service.NameAr</td>
                                                    @if (!item.Service.IsTimeBoundService)
                                                    {
                                                        <td id="quantity">
                                                            @item.Quantity
                                                            <div class="mt-2 small text-muted">
                                                                <div>أيام الخدمة المتبقية: @item.RemainServiceDays</div>
                                                                <div>أيام التجميد: @item.FreezingDays</div>
                                                                <div>مرات التجميد: @item.FreezingTimes</div>
                                                                <div>المتبقي من أيام التجميد: @item.RemainFreezingDays</div>
                                                                <div>المتبقي من مرات التجميد: @item.RemainFreezingTimes</div>
                                                            </div>
                                                            @if (item.ColorId.HasValue)
                                                            {

                                                                <br />
                                                                <span>  المدرب: @item.Color.Color</span>
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td id="quantity">
                                                            @item.Quantity أيام إشتراك
                                                            @if (item.ColorId.HasValue)
                                                            {

                                                                <br />
                                                                <span>  المدرب: @item.Color.Color</span>
                                                            }
                                                        </td>
                                                    }
                                                    <td>
                                                        @item.Price ريال سعودي
                                                        <br />
                                                        الاجمالى: @item.SubTotal ريال سعودي
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    سعر الطلب
                                </td>
                                <td dir="auto">
                                    اجمالى الخدمات: @Model.SubTotal ريال سعودي <br />
                                    خصم الكوبون: @Model.PromoDiscount ريال سعودي @(Model.PromoId.HasValue == true ? $"({Model.Promo.Text})" : "") <br />
                                    رصيد المحفظه: @Model.WalletDiscount ريال سعودي <br />
                                    الاجمالى: @Model.Total ريال سعودي <br />
                                </td>
                            </tr>
                            @if (Model.PurposeOfSubscription != null)
                            {
                                <tr>
                                    <td>@Website.PurposeOfSubscription</td>
                                    <td>
                                        @if (Model.PurposeOfSubscription == PurposeOfSubscription.Muscle_Building)
                                        {@(culture == "ar" ? $"كتله عضليه" : $"Muscle Building")}
                                        else if (Model.PurposeOfSubscription == PurposeOfSubscription.Weight_Gain)
                                        { @(culture == "ar" ? $"زياده وزن" : $"Weight Gain")}
                                        else if (Model.PurposeOfSubscription == PurposeOfSubscription.General_Health)
                                        { @(culture == "ar" ? $"صحه عامه" : $"General Health")}
                                        else if (Model.PurposeOfSubscription == PurposeOfSubscription.Weight_Loss)
                                        { @(culture == "ar" ? $"خسارة وزن" : $"Weight Loss")}
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    هل تم الدفع؟
                                </td>
                                <td>
                                    @if (Model.IsPaid == true)
                                    {
                                        <span>نعم</span>
                                    }
                                    else
                                    {
                                        <span>لا</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    طريقه الدفع
                                </td>
                                <td>
                                    @switch (Model.PaymentMethod)
                                    {
                                        case G4Fit.Models.Enums.PaymentMethod.Cash:
                                            <span>الدفع كاش</span>
                                            break;
                                        case G4Fit.Models.Enums.PaymentMethod.UrWay:
                                            <span>الدفع اون لاين - يور واي</span>
                                            break;
                                        case G4Fit.Models.Enums.PaymentMethod.Tabby:
                                            <span>الدفع اون لاين - تابي</span>
                                            break;
                                        case G4Fit.Models.Enums.PaymentMethod.Tamara:
                                            <span>الدفع اون لاين - تمارا</span>
                                            break;
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    وقت الطلب
                                </td>
                                @if (Model.ModifiedOn.HasValue == true)
                                {
                                    var Time = TimeZoneInfo.ConvertTimeFromUtc(Model.ModifiedOn.Value, TimeZoneInfo.FindSystemTimeZoneById("Arab Standard Time"));
                                    <td dir="ltr">
                                        @Time.ToString("dd MMMM yyyy")<br />
                                        @Time.ToString("hh:mm tt")
                                    </td>
                                }
                                else
                                {
                                    var Time = TimeZoneInfo.ConvertTimeFromUtc(Model.CreatedOn, TimeZoneInfo.FindSystemTimeZoneById("Arab Standard Time"));
                                    <td dir="ltr">
                                        @Time.ToString("dd MMMM yyyy")<br />
                                        @Time.ToString("hh:mm tt")
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>


    $(document).ready(function () {
        function copyItemsToExcel() {
            var data = [];

            // Iterate through rows and extract Service name, quantity, and color
            $('#orderItemsTable tbody tr').each(function () {
                var ServiceName = $(this).find('td#ServiceName').text().trim();
                var quantity = $(this).find('td#quantity').text().trim();
                var color = $(this).find('td#color').length > 0 ? $(this).find('td#color').text().trim() : "بدون لون";

                // Always add ServiceName, quantity, and color (or "بدون لون")
                data.push(ServiceName + '\t' + quantity + '\t' + color);
            });

            // Create a textarea element to copy the data to clipboard
            var textarea = document.createElement('textarea');
            textarea.value = data.join('\n');
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);

            // Alert success message
            alert("تم النسخ إلى الحافظة بنجاح!");
        }

        // Attach click event to the copy button
        $('#copyToExcelBtn').click(function () {
            copyItemsToExcel();
        });

    });


</script>
