@using Cocoon.Resources
@model G4Fit.Models.ViewModels.WebsiteChangePasswordVM
@{
    var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToLowerInvariant();
}

<section class="m-5 pt-3">
    <div class="card text-center d-block">
        <div class="card-header font-weight-bold text-white" style="background:black;">
            @(culture == "ar" ? "تعديل كلمة المرور" : "Change Password")
        </div>
        <div class="card-body m-auto">
            <section class="Connect" id="ChangePassword">
                <div class="container">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="Login">
                                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "text-center m-auto" }))
                                {
                                    @Html.ValidationMessage("Error", "", new { @class = "text-danger", style = "margin-bottom:10px;display:block" })

                                    <!-- New Password -->
                                    <div class="form-group">
                                        <input type="password" name="Password" class="form-control text-center" placeholder="@Website.Password" required />
                                        @Html.ValidationMessageFor(w => w.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <!-- Confirm Password -->
                                    <div class="form-group">
                                        <input type="password" name="ConfirmPassword" class="form-control text-center" placeholder="@Website.ConfirmPasswordPlaceholder" required />
                                        @Html.ValidationMessageFor(w => w.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <button class="btn text-white" style="background-color:black; width: 100%;" type="submit">
                                            @Website.Save
                                        </button>
                                    </div>
                                }
                            </div>

                         @*   <a href="@Url.Action("Login", "Account")" class="text-black"><strong>@(culture == "ar" ? "العودة لتسجيل الدخول" : "Back to Login")</strong></a><br />*@
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: '@(culture == "ar" ? "تم بنجاح" : "Success")',
                text: '@ViewBag.Message',
                icon: 'success',
                timer: 2000,
                showConfirmButton: false
            });
        });
    </script>
}

@if (!string.IsNullOrEmpty(ViewBag.MessageError))
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                title: '@(culture == "ar" ? "تحذير" : "Warning")',
                text: '@ViewBag.MessageError',
                icon: 'warning',
                timer: 5000,
                showConfirmButton: true
            });
        });
    </script>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
